---
layout: default
---
<!-- fine-article -->
<section class="fine-article section-module">
    <ul class="post-list">
        <div class="fine-article-wrapper">
            <div class="fine-article-item">
                <div class="fine-artcle-content"></div>
            </div>
            {% for post in paginator.posts %}
            <li class="fine-article-item">
                <div class=" fine-artcle-content">
                    <a class="artcle-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    <div class="content">
                        {{ post.excerpt }}
                    </div>
                    <p class="post-meta">
                        <span class="host-date">{{ post.date | date: "%Y.%m.%d" }}</span>
                    </p>
                </div>
            </li>
            {% endfor %}
            <div class="clear-both"></div>
        </div>
    </ul>
<div class="fine-artcle-content-hr"></div>
</section>

<!-- Page -->
{% if paginator.total_pages > 1 %}
<div class="paginateBox">
    {% if paginator.previous_page %}
    <a class="pageBtn pre-btn" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="iconfont icon-pre"></i><span>上一页</span>
    </a> {% endif %} {% if paginator.next_page %}
    <a class="pageBtn next-btn" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span>更多文章</span><i class="iconfont icon-next"></i>
    </a> 
    {% endif %}
</div>
{% endif %}