<div class="index-carousel-content">
    <!-- index-swiper -->
    <div class="swiper-container index-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="popilar-owl-item">
                    <img src="../images/popular/1.jpg" alt="">
                    <p class="popular-item-title"></p>
                    <div>
                        <span class="popular-post-time"></span>
                        <span class=popular-item-author post-author">BY Rushan</span>
                    </div>
                    <div class="overlay-bg"></div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="popilar-owl-item">
                    <img src="../images/popular/2.jpg" alt="">
                    <p class="popular-item-title"></p>
                    <div>
                        <span class="popular-post-time"></span>
                        <span class="popular-item-author post-author">BY Rushan</span>
                    </div>
                    <div class="overlay-bg"></div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="popilar-owl-item">
                    <img src="../images/popular/3.jpg" alt="">
                    <p class="popular-item-title"></p>
                    <div>
                        <span class="popular-post-time"></span>
                        <span class="popular-item-author post-author">BY Rushan</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="popilar-owl-item">
                    <img src="../images/popular/4.jpg" alt="">
                    <p class="popular-item-title"></p>
                    <div>
                        <span class="popular-post-time"></span>
                        <span class="popular-item-author post-author">BY Rushan</span>
                    </div>
                    <div class="overlay-bg"></div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="popilar-owl-item">
                    <img src="../images/popular/5.jpg" alt="">
                    <p class="popular-item-title"></p>
                    <div>
                        <span class="popular-post-time"></span>
                        <span class="popular-item-author post-author">BY Rushan</span>
                    </div>
                    <div class="overlay-bg"></div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="popilar-owl-item">
                    <img src="../images/popular/6.jpg" alt="">
                    <p class="popular-item-title"></p>
                    <div>
                        <span class="popular-post-time"></span>
                        <span class="popular-item-author post-author">BY Rushan</span>
                    </div>
                    <div class="overlay-bg"></div>
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>