<div class="index-carousel-content">
    <!-- index-swiper -->
    <div class="swiper-container index-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="popular-owl-item style-align-center ">
                    <div class="overlay-bg"></div>
                    <img src="../images/popular/7.jpg" alt="">
                    <div class="popular-inner">
                        <p class="popular-item-title">哈苏上天与空中变焦不再是梦，大疆发布“御”Mavic 2系列无人机，专业版售价9588元，变焦版售价7888元</p>
                        <span class="popular-post-time"></span>
                        <span class=popular-item-author post-author ">BY Rushan</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide ">
                <a class="popular-owl-item style-align-center ">
                     <div class="overlay-bg "></div>
                    <img src="../images/popular/2.jpg " alt=" ">
                    
                    <div class="popular-inner ">
                        <p class="popular-item-title ">哈苏上天与空中变焦不再是梦，大疆发布“御”Mavic 2系列无人机，专业版售价9588元，变焦版售价7888元</p>
                        <span class="popular-post-time "></span>
                        <span class="popular-item-author post-author ">BY Rushan</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide ">
                <a class="popular-owl-item style-align-center ">
                     <div class="overlay-bg "></div>
                    <img src="../images/popular/3.jpg " alt=" ">
                    <div class="popular-inner ">
                        <p class="popular-item-title ">哈苏上天与空中变焦不再是梦，大疆发布“御”Mavic 2系列无人机，专业版售价9588元，变焦版售价7888元</p>
                        <span class="popular-post-time "></span>
                        <span class="popular-item-author post-author ">BY Rushan</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide ">
                <a class="popular-owl-item style-align-center ">
                     <div class="overlay-bg "></div>
                    <img src="../images/popular/4.jpg " alt=" ">
                    <p class="popular-item-title ">哈苏上天与空中变焦不再是梦，大疆发布“御”Mavic 2系列无人机，专业版售价9588元，变焦版售价7888元</p>
                    <div class="popular-inner ">
                        <p class="popular-item-title ">哈苏上天与空中变焦不再是梦，大疆发布“御”Mavic 2系列无人机，专业版售价9588元，变焦版售价7888元</p>
                        <span class="popular-post-time "></span>
                        <span class="popular-item-author post-author ">BY Rushan</span>
                    </div>
                   
                </a>
            </div>
            <div class="swiper-slide ">
                <a class="popular-owl-item style-align-center ">
                     <div class="overlay-bg "></div>
                    <img src="../images/popular/5.jpg " alt=" ">
                    <div class="popular-inner ">
                        <p class="popular-item-title ">哈苏上天与空中变焦不再是梦，大疆发布“御”Mavic 2系列无人机，专业版售价9588元，变焦版售价7888元</p>
                        <span class="popular-post-time "></span>
                        <span class="popular-item-author post-author ">BY Rushan</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide ">
                <a class="popular-owl-item style-align-center ">
                     <div class="overlay-bg "></div>
                    <img src="../images/popular/6.jpg " alt=" ">
                    <div class="popular-inner ">
                        <p class="popular-item-title ">哈苏上天与空中变焦不再是梦，大疆发布“御”Mavic 2系列无人机，专业版售价9588元，变焦版售价7888元</p>
                        <span class="popular-post-time "></span>
                        <span class="popular-item-author post-author ">BY Rushan</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination "></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next "></div>
        <div class="swiper-button-prev "></div>
    </div>
</div>